.account-auth {
  min-width      : 100vw;
  height         : 100vh;
  display        : flex;
  align-items    : center;
  justify-content: center;

  &__container {
    width         : 465px;
    display       : flex;
    flex-direction: column;
    align-items   : stretch;
    background    : white;
    box-shadow    : 0 32px 64px rgba(17, 17, 17, 0.08);
    border-radius : 32px;
    padding       : 40px;
  }
}